*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.mega-container{
    width: 100vw;
    height: 100vh;
    background-color: #b91450;
}

.container {
    width: 80%;
    height:100%;
    margin: 0 auto;
}

h1,
h2 {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.input-button-box {
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.75);
    background-color: white;

}

.inputs-box{
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-box{
    display: flex;
    flex-direction: column;
    color: #b91450;
    text-align: center;
}

.input-box input,
.input-box select {
    margin-top: 10px;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px;
    border-color: #b91450;
}

#nome:hover {
    background-color: #b91450;
}

#km:hover {
    background-color: #b91450;
}

#fascia-eta:hover {
    background-color: #b91450;
}



.buttons-box{
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttons-box button{
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border-color: #b91450;
    color: #b91450;
}

h3 {
    text-transform: uppercase;

}

#biglietto{
    padding: 20px;
    background-color: white;
}

.table{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-left {
    width: 25%;
    padding: 20px;
    background-color: #808080;
}

.table-right {
    width: 75%;
    height: 100%;

    text-align: left;
}

.table-right table {
    width: 100%;

}

.table-right table th,
.table-right table td{
    padding: 30px;
}

.hidden {
    opacity: 0;
    transition: 0.3s;
}

.show {
    opacity: 1;
    transition: 0.3s;
}
