*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mega-container{
    width: 100vw;
    height: 100vh;
    background-color: #b91450;
}

.container {
    width: 80%;
    height:100%;
    margin: 0 auto;
}

h2 {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.input-button-box {
    height: 200px;
    background-color: white;

}

.inputs-box{
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons-box{
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttons-box button{
    margin: 0 10px;
}

h3 {
    text-transform: uppercase;

}

#biglietto{
    padding: 20px;
    background-color: white;
}

.table{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-left {
    width: 25%;
    padding: 20px;
    background-color: #808080;
}

.table-right {
    width: 75%;
    height: 100%;

    text-align: left;
}

.table-right table {
    width: 100%;

}

.table-right table th,
.table-right table td{
    padding: 20px;
}

.hidden {
    opacity: 0;
    transition: 0.3s;
}

.show {
    opacity: 1;
    transition: 0.3s;
}
